body{
    background-color: white;
}
img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
.navb{
    list-style: none;
    float: right;
    display: flex;
    justify-content: space-around; 
}
.navb li{
    margin: 30px 0;
}
.navi{
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}
.navi:hover{
    background-color: white;
    color: black;
}
.out{
    padding-top: 5px;
    text-decoration: none;
    color: white;
}
.out:hover{
    
    padding: 0;
    background-color: none;
    color: red;
}
.info h2,a{
    float: right;
    margin: 10px;    
}
.admin{
    background-color: rgb(36, 35, 35);
    color: white;
}

.dash-body .box::nth-child(odd){
    background-color: #f5f5f5;
}

.dash-body .box:nth-child(even){
    background-color: #dddddd;
}
.box{
    border-top: 1px solid black;
}
.box a{
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    float: right;
}
.box a:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
}

.box h2{
    padding: 0 0 5px 0;
    text-align: center;
    color: green;
    font-size: 3em;
    margin-bottom: 10px;
}
.box h3{
    font-size: 18px;
    text-align: center;
}
.box button{
    float: right;
}
.task{
    float: right;
    text-align: right;
}
.info a{
    clear: both;
    text-align: center;
}


@media(min-width: 800px){
    *{
        margin: 0;
        padding: 0;
    }
    .navb{
        display: block;
    }
    .navb li{
        width: 100%;
        text-align: center;
    }

    .navb{
        margin-top: 70px;
    }
    .admin{
        width: 20%;
        position:fixed;
        bottom:0;
        right: 0;
        height: 100%;
    }
    .dash-body{
        width: 90%;
        margin: auto;
    }
    .dash-body .box{
        background-color: #f5f5f5;
    }
    .box-head{
        width: 100%;
    }
    .box-body{
        height: 65%;
        width: 100%;
    }
    .box-foot{
        height:15%;
        width: 100%;
    }
    .dash-body .box:nth-child(even){
        background-color: #f5f5f5;
    }

    .box{
        width: 40%;
        margin: 150px 15px 0 15px;
        border-radius: 12px;
        border-top-width: 0;
        box-shadow: 5px 5px 5px grey;
        height: 360px;
    }
    .box h2{
        margin-top: 120px;
    }
    .info div{
        width: 100%;
        clear: both;
    }
    .info h2,a{
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    .info a{
        
        margin-top: 10px;
    }
}

@media(min-width: 1400px){
    img{
        height: 150px;
        width: 150px;
        margin: 0 auto 0 90px; 
    }

    .dash-page{
        height: 100%;
    }
    .admin{
        position:fixed;
        bottom:0;
        right: 0;
        width: 20%;
    }
    .box{
        width: 30%;
    }
    
    .dash-body{
        width: 100%;
        margin: auto;
    }

    
}



/* Header */
.logo{
    float: left;
    text-align: left;
}

a{
    text-decoration: none;
}

ul, nav{
    list-style: none;
}
/* .menu{
    float: right;
}
.menu li{
    text-align: center;
} */
ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* .menu a{
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
    font-family: 'Nunito', sans-serif;
} */
h1{
    color: #ffa200;
    text-align: center;
}
h2{
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
}

/* .menu a:hover{
    opacity: 1;
    color: black;
    border-bottom: 2px solid black; 
} */

.top{
    background-color: #ffa200;
    width: 100%;
    z-index: 10;
    align-items: center;
    color: white;
    padding: 35px 70px 20px;
    display: flex;
    justify-content: space-around; 
}
.top::after{
    content: '';
    display: block;
    clear: both;
}

header nav{
    display: flex;
}

header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}
