* {
    box-sizing: border-box;
}
/* 
body {
    margin: 0;
    background-color: #C4C4C4;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */
.col-25{width:20%;}
.col-48{width:48%;}

.order-card {
    background-color: white;
    padding: 3vw;
    border-radius: 12px;
}
.order-img img{
    width: 100%;
    height: 30vw;
    align-self: center;
    margin: auto;
}

.order-pend {
    color: yellow;
}

.order-addr {
    margin-bottom: 1.1rem;
    border-bottom: 2px solid yellow;
}

.order-addr h4 {
    margin-top: 0;
    margin-bottom: 5px;
}