/* 
* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */



/* start */
*, *:after, *:before {
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
  }

  h2{
      margin: 0;
  }
.container:before, .container:after{
    display: table;
    content: " ";
    line-height: 0;
    font-size: 0;
    clear: both; 
}

.container {
    width: 70%;
    margin: 0 auto;
    /* border: 1px solid #ddd; */
    padding: 200px .6em;
}
@media(max-width: 1000px){
    .container{
        width:80%;
        
    }
}
@media(max-width: 700px){
    .container{
        width:100%;
        
    }
}
.container p {
    font-size: .9em;
    color: #777;
    /* margin-bottom: 1.5em; */
    font-style: italic;
}

.h3:before, .h3:after{
    display: table;
    content: " ";
    line-height: 0;
    font-size: 0;
    clear: both; 
}

h3 {
    position: relative;
    font-weight: 700;
    margin: 0;
}
h3 span {
    float: left;
    width: 10%;
    text-align: center;
    display: block;
}

h3 span:first-child{
    width: 40%;
    text-align: left;
}

.dots{
    width: 40%;
    border-bottom: 2px dotted rgb(54, 8, 8);
    margin-top: .8em;
}

.mealsel{
    border-bottom: 3px double darkred;
    cursor: pointer;
    padding: 20px 5px;
    z-index: 0;
}
.mealsel:nth-child(even){
    background-color: rgb(236, 220, 199);
}
.mealsel:nth-child(odd){
    background-color: rgba(223, 72, 13,0.9);
}
.mealsel:last-child{
    border-bottom: none;
}
.mealsel:hover{
    background-color: burlywood
}


/* Modal Form */
.modal{
    display: none;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    padding-top: 60px;
}

.modal-form{
    border: 5px solid #380d02;
    background-color: burlywood;
    margin: 5px auto;
    width: 80%;
}

/* .modal-form{
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888888;
    width: 80%;
} */
.close {
    position: absolute;
    right: 25px;
    top: 0; 
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: red;
    cursor: pointer;
}


form {
    margin:0 auto;
    width: 300px;
    max-width: 400px;
    /* border: 3px solid #f1f1f1; */
    
}

.form-details{
    align-items: center;
    padding-left: 5%;
}

.foodDesc p:first-child{
    color: #380d02;
    /* font: ; */
    font-size: 20px;
    margin-bottom: 0;
}
.foodDesc p:last-child{
    color: #777;
    font-style: italic;
     /* font: ; */
     font-size: 12px;
     margin-top: 0;
}

.mealwith h4, .mealextra h4{
    color: #380d02;
}

.mealwith div, .mealextra div{
    width: 90%;
}

.foodprice{
    float: right;
}
.pricetotal{
    background-color: whitesmoke;
    padding: 20px 0;
}
input[type=number]{
    width: 10%;
    padding: 5px 0px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid chocolate;
    box-sizing: border-box;
    
}

input[type=submit] {
    background-color: chocolate;
    color: white;
    padding: 14px 20px;
    margin: 25px 0;
    border: none;
    cursor: pointer;
    width: 90%;
}


/*----------
BIG PICTURE 
----------*/
.bigpic{
    background-color: transparent;
    position:relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.bigpic .back-image{
    background-image: url('../images/coffee.jpg');
    background-size: cover;
    background-color: #1A77C1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
    
}
.bigpic .back-image2{
    background-image: url('../images/blood.jpg');
    background-size: cover;
    background-color: #1A77C1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
    opacity: 0.8;
    
}

.bigpic .back-image::after, .back-image2::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414A4f;
    opacity: 0.2;
}

/* NAVIGATION */
.navigate{
    z-index: 0;
    display: flex;
    list-style: none;
    opacity: 0.9;
    width: 100%;
    align-items: center;
    color: white;
    padding: 35px 70px 20px;
    justify-content: space-around; 
}
nav{
    display: flex;
    margin: 0 auto;
}
.navigate::after {
    content: '';
    display: block;
    clear: both;
}

.navigate li{
    margin: 0 15px;
}

.navigate li:first-child{
    margin-left: 0;
}

.navigate li:last-child{
    margin-right: 0;
}


.navigate img{
    max-width: 150px;

}

.navigate h2{
    color: black;
    z-index: 0;

}