/* * {
    box-sizing: border-box;
    font-family: 'Jua', sans-serif;
}
body {
    margin: 0;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;} */

/* form */
.admin{
    width: 100%;
    position: fixed;
    /* background-color: rgb(48, 47, 47); */
    /* color: white; */
    top: 0;
    left: 0;
    z-index: -1;
}


h2{
    text-align: center;
    margin-top:25px;
    font-size: 2em;
}
.fa-long-arrow-alt-left{
    font-size: 1em;
    padding: 4px 15px;
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 4px;
}
.fa-long-arrow-alt-left:hover{
    color: red;
}
.fa-minus-square:hover{
    color: red;
}
a{
    text-decoration: none;
    /* padding: 10px 20px; */
    color: white;
    margin-top: 30px;
    margin-bottom: 10px;
}
.out{
    margin-top: 15px;
    padding-bottom: 20px;
}
a:hover{
    /* background-color: white; */
    color: red;
}
form{
    
    width:100%;
    margin: 20px 0 15px 0;
    
}
.menu-items{
    border: 1px solid #888;
    border-bottom: none;
}
.other-checks{
    width: 100%;
    z-index: 1;
    border: 1px solid black;
    border-top: none;
    background-color: rgba(255, 162, 0, 0.7);
    /* #5F9EA0; */
    max-height: 180px;
    color: white;
}
.add-date{
    margin: 30px 0;
}
.remove{
    margin: 16px 0;
    
}
.remove:hover{
    cursor: pointer;
    color: red;
}

input[type=submit]{
    margin: 30px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
}
input[type=submit]:hover{
    
    background-color: black;
    color: white;
    cursor: pointer;
    /* border: 1px solid #888; */
}


.active {
    border-bottom: 2px solid white;
}

.manage-menu-tab-body form {
    margin: 10% auto;
}

.manage-menu-tab-body .subm input {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    background-color: #380D02;
    color: white;
}

.manage-menu-tab-body .subm input:hover {
    background-color: white;
    color: #380D02;
    border: 1px solid #380D02;
}

.sel-menu-item-price {
    float: right;
    margin-right: 10%;
}

@media screen and (max-width: 799px) {
    h2{
        margin-top: 40px;
        margin-bottom: 20px;
    }
    .active {
        border-bottom: 1px solid white;
    }
    p {
        font-size: 2vh;
    }
    ul, nav{
        list-style: none;
    }
    ul.grid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .top{
        background-color: #ffa200;
        /* opacity: 0.7; */
        width: 100%;
        z-index: 10;
        align-items: center;
        color: white;
        padding:10px;
        display: flex;
        justify-content: space-around; 
    }
    .top::after{
        content: '';
        display: block;
        clear: both;
    }

    header nav{
        display: flex;
        /* margin-bottom: 50px; */
    }

    

    header nav li:first-child{
        margin-left: 0;
    }

    header nav li:last-child{
        margin-right: 0;
    }
    .logo{
        display: none;
    }
    .add-date{
        width: 50%;
        text-align: center;
    }
    .added-dates{
        width: 50%;
        text-align: center;
    }
    .date-added{
        margin: 0 auto;
    }
    .subm{
        width: 100%;
        margin: 0 auto;
        clear: both;
        text-align: center;
    }
}

@media(min-width: 800px){

    /* Header */
     

    .top h2{
        margin: 0;
        text-align: left;
    }
    a{
        text-decoration: none;
    }

    ul, nav{
        list-style: none;
    }
    ul.grid{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h1{
        color: #ffa200;
        text-align: center;
    }
    h2{
        margin-bottom: 15px;
        font-family: 'Nunito', sans-serif;
    }

    .top{
        background-color: #ffa200;
        width: 100%;
        z-index: 10;
        align-items: center;
        color: white;
        padding: 35px 70px 20px;
        display: flex;
        justify-content: space-around; 
    }
    .top::after{
        content: '';
        display: block;
        clear: both;
    }

    header nav{
        display: flex;
    }

    header nav li{
        margin: 0 15px;
    }

    header nav li:first-child{
        margin-left: 0;
    }

    header nav li:last-child{
        margin-right: 0;
    }
    .admin{
        height: 100px;
    }
    form{
        max-width: 700px;
        margin-top: 175px;
        margin-left:  auto;
        margin-right: auto;
    }
    .other-checks{
        max-width: 700px;
        margin: 1em auto;
        bottom: auto;
        top: auto;
    }
    .menu-items{
        height: 520px;
        overflow: auto;
    }
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    list-style-type: none;
}

ul li:nth-child(odd) {
    background-color: #fff;
}

ul li:nth-child(even) {
    background-color: rgba(255, 162, 0, 0.5);
    
}

ul li:hover {
    background-color: rgba(255, 162, 0, 0.7);;
    color: white;
}

ul li.checked {
    background: rgba(255, 162, 0, 0.7);
    color: #fff;
    text-decoration: steelblue;
    text-shadow: slategrey;
    /* text-decoration: line-through; */
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}
