*{
    margin: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.col-25{width:20%;}

.logo{
    float: left;
    text-align: left;
}
body{
    font: normal 16px "Arial", sans-serif;
    color: #555;
    max-height: 100%;
}
a{
    text-decoration: none;
    /* font-size: 5.0vh; */
}

ul, nav{
    list-style: none;
}
ul.grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo h2{
    margin-bottom: 15px;
    font-family: 'Nunito', sans-serif;
}

.top{
    background-color: #ffa200;
    opacity: 0.7;
    width: 100%;
    z-index: 10;
    align-items: center;
    color: white;
    padding: 35px 70px 20px;
    display: flex;
    justify-content: space-around; 
}
.top::after{
    content: '';
    display: block;
    clear: both;
}

header nav{
    display: flex;
    /* margin-bottom: 50px; */
}

header nav li{
    margin: 0 15px;
}

header nav li:first-child{
    margin-left: 0;
}

header nav li:last-child{
    margin-right: 0;
}

/*----------
BIG PICTURE 
----------*/
.bigpic{
    background-color: transparent;
    position:relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: center;
}

.bigpic .back-image{
    background-image: url('../images/7.jpg');
    background-size: cover;
    background-color: #1A77C1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    z-index: -1;
}

.bigpic .back-image::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #414A4f;
    opacity: 0.3;
}

.bigpic h1{
    font: bold 60px 'Shadows Into Light Two', cursive;
    font-size: 90px;
    text-shadow: 3px 3px black;
    padding-top: 50px;
    margin-top: 100px;
    /* margin-bottom: 15px; */
    
}

.bigpic h3{
    font: normal 28px 'Arial', sans-serif;
    /* margin-bottom: 40px; */
    color: aliceblue;
}


/* .menu .icon {
    display: none;
} */
@media screen and (max-width: 600px) {
    /* .menu a{display: none;} */
    .logo{
        display: none;
    }
    /* .menu {
        width: 100%;
    } */
    .row{
        padding: 20px 0;
    }
    /* .menu li a {
        font-size: 2.0vh;
        float: none;
        display: block;
        text-align: left;
        margin: 0 5px;
    } */
    .bigpic h1{
        font-size: 8.0vh;
    }
    .bigpic h3{
        font-size: 4.0vh;
    }
    .active {
        border-bottom: 1px solid white;
    }
  }
@media(min-width: 1400px){
    .active {
        border-bottom: 2px solid white;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}