{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest": true,
        "mocha": true
    },
    "globals": {
        "reactrouter": true
    },
    "rules": {
        "no-param-reassign": 0
    }
}
