* {
    box-sizing: border-box;
}


.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
    /* border: 1px solid red; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


body{
    background-color: #f5f5f5;
}
img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}
a{
    /* text-decoration: none;
    color: white; */
}
.info h2,a{
    float: right;
    margin: 10px;    
}
.admin{
    background-color: rgb(36, 35, 35);
    color: white;
}

.dash-body .box::nth-child(odd){
    background-color: #f5f5f5;
}

.dash-body .box:nth-child(even){
    background-color: #dddddd;
}
.box{
    border-top: 1px solid black;
}
.box h2{
    border-bottom: 1px solid black;
    padding: 0 0 10px 0;
    text-align: center;
}
.box p{
    font-size: 18px;
    /* padding:2px 0; */
}
.box button{
    float: right;
}
.task{
    float: right;
    text-align: right;
}
.info a{
    clear: both;
    text-align: center;
}

.pend{
    color: yellow;
}
.canc{
    color: red;
}
.comp{
    color: green;
}

@media(min-width: 800px){
    
    .admin{
        width: 20%;
        position:fixed;
        bottom:0;
        right: 0;
        height: 100%;
    }
    .dash-body{
        width: 90%;
        margin: auto;
    }
    .dash-body .box{
        background-color: #dddddd;
    }

    .box{
        width: 40%;
        margin: 15px 15px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        border-top-width: 0;
        /* border-bottom: 1px solid black; */
        box-shadow: 10px 10px 5px grey;
    }
    .info div{
        width: 100%;
        clear: both;
    }
    .info h2,a{
        clear: both;
        float: none;
        text-align: center;
        margin: auto;
    }
    .info a{
        float: right;
        margin-top: 100px;
    }
}

@media(min-width: 1200px){
    img{
        height: 150px;
        width: 150px;
        margin: 0 0 0 40px; 
    }

    .dash-page{
        height: 100%;
    }
    .admin{
        position:fixed;
        bottom:0;
        right: 0;
        width: 20%;
    }
    .box{
        width: 40%;
        margin: 15px 15px; 
    }
    
    .dash-body{
        width: 70%;
        margin: auto;
    }
}